APP_URL="http://127.0.0.1:3000"
APP_NAME="Goshaka"
SERVER_READ_TIMEOUT=60

FRONTEND_URL="http://127.0.0.1:8081"

SERVER_PORT=3000
# If you run the server under Docker, set SERVER_HOST to =""
# https://stackoverflow.com/questions/62904360/go-fiber-not-running-on-localhost
SERVER_HOST="127.0.0.1"

ENV="dev"

DB_HOST= localhost
DB_NAME= fiber-app
DB_USER= postgres
DB_PASSWORD= postgres
DB_PORT= 5432
DB_DRIVER="mysql"

APP_KEY="asfdsBBMNB"
JWT_KEY="sadfsggsdfafdsf"

MAIL_HOST=
MAIL_FROM=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=

REDIS_HOST=
REDIS_PASSWORD=
REDIS_DB=0